:root {
  --color-primery-dark: #31261a;
  --color-primery-light: #faf4ea;
  --color-secondary-dark: #a18268;
  --color-brand-dark: #455929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
}
