.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primery-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(--color-primery-light);
}

.address-copyright {
  font-size: 14px;
}
